body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
.container {
  padding: 40px 70px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "head"
    "box"
    "box";
  gap: 30px;
}

.li {
  align-items: center;
  height: 30px;
  width: 10px;
}

.header {
  width: auto;
  height: 30px;
  grid-area: head;
  display: flex;
  justify-content: space-between;
  background-color: #b00202;
  border-radius: 5px;
  padding: 10px 20px;
}

li {
  font-family: sans-serif;
  display: inline-block;
  margin-left: 20px;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.left-item img {
  width: 50px;
  height: 20px;
}
.main-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #b00202;
  width: 200px;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}
.details-clock img {
  height: 30px;
  height: 150px;
}
.main-box2 {
  width: 400px;
  height: 200px;
  background-color: aqua;
  border-radius: 10px;
  margin-top: 20px;
}
