.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
img {
  max-width: 100%;
  height: auto;
}
.box {
  width: 150px;
  height: 150px;
  font-size: 2rem;
  text-align: center;
  border-radius: 15px;
  background-color: red;
}
#box1 {
  height: 64px;
  width: 1256px;
  margin: 30px;
}
#box2 {
  align-items: flex-start;
  width: 981px;
  height: 333px;
  margin: 5px;
}
#box3 {
  width: 245px;
  height: 831px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  flex-wrap: wrap;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item img {
  max-width: 50%;
  height: auto;
  align-items: flex-start;
}
